<h1>ブログ一覧</h1>

<p><%= notice %></p>

<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
    </tr>
    
<% @bblogs.each do |blog| %>
    <tr>
        <td><%= blog.name %></td>
        <td><%= blog.content %></td>
        <td><%= link_to "詳細確認", bblog_path(blog.id) %></td>
        <td><%= link_to "編集", edit_bblog_path(blog.id) %></td>
        <td><%= link_to "削除", bblog_path(blog.id), method: :delete ,data: {confirm: "本当に消してもいいですか"} %></td>
    </tr>
<% end %>
</table>

<h2>
    <%= link_to "ブログ新規作成ページへ", new_bblog_path %>
</h2>

