<%= form_with(model:@bblog, local:true, url:choose_new_or_edit) do |form| %>
    <% if @bblog.errors.any? %>
        <div id="error_explanation">
            <h2><%= @bblog.errors.count %>件のエラーがあります</h2>
            
            <ul>
                <% @bblog.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="blog_title">
        <%= form.label :"タイトル" %>
        <%= form.text_field :name %>
    </div>
    <div class="blog_title">
        <%= form.label :"内容" %>
        <%= form.text_field :content %>
    </div>
    <!--
    投稿ユーザー以外、登録できないようにする
    -->
    <% if @bblog.user_id == current_user.id %>
        <%= form.submit "登録する", class:"btn btn-default" %>
    <% end %>

<% end %>

<%= link_to "ブログ一覧ページに戻る", bblogs_path %>