<h1>ブログ詳細画面</h1>
<!--

-->
<p>タイトル:<%= @bblog.name %></p>
<p>内容:<%= @bblog.content %></p>
<% if @bblog.image? %>
  <p>画像:<%= image_tag @bblog.image.url %></p>
<% end %>
<!--
お気に入りと解除
ログインしないで直リンでアクセスした場合、ログイン画面に飛ばしているため、
current_userは必ず存在する
-->
<% unless @bblog.favorite_users == current_user %>
  <% if @favorite.present? %>
    <%= link_to "お気に入り解除", favorite_path(bblog_id: @bblog.id),
                                method: :delete,
                                class: "btn btn-danger" %>
  <% else %>
    <%= link_to "お気に入りする", favorites_path(bblog_id: @bblog.id),
                                method: :post,
                                class: "btn btn-prymary" %>
  <% end %>
<% end %>