<!DOCTYPE html>
<html>
  <head>
    <title>Bblogapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <ul>
        <li><img src="/assets/bblog_head_foot.jpg"></li>
        <li><a href="/bblogs/home/index">TopPage</a></li>
        <li><a href="/bblogs">投稿一覧</a></li>

        <% if logged_in? %>
          <li><%= link_to "ユーザー情報", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", session_path(current_user.id),
            method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_path %></li>
          <li><%= link_to "ログイン", new_session_path %></li>
        <% end %>
      </ul>
    </header>
    
    <!--
    フラッシュメッセージの表示
    -->
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class:"alert alert-#{key}") %>
    <% end %>
    
    <%= yield %>
    
    <footer>
      <div class="footer-div">
      <ul>
        <li><img src="/assets/bblog_head_foot.jpg"></li>
        <li>10月期tanaka</li>
        <li>(c)tanaka</li>
      </ul>
      </div>
    </footer>
    
  </body>
</html>
